
.brandLine {
    /* transform: translateX(1280px); */
    overflow: hidden;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
    margin-right: 32px;
    /* animation-name: line-infinite; */
    animation-duration: 5s;
    animation-iteration-count: infinite
}

@keyframes line-infinite {
    from {
        transform: translateX(1280px);
    }
    to {
        transform: translateX(0);
    }
}

@media screen and (max-width: 821px) {
    .brandLine {
        overflow: scroll;
        flex-wrap: nowrap;

        a {
            padding-right: 50px;
        }

        &::-webkit-scrollbar {
            width: 0;
            height: 4px;
            background: black;
        }

        &::-webkit-scrollbar-track {
            background: var(--gray-white);
        }

        &::-webkit-scrollbar-thumb {
            background: var(--dark);
        }
    }
}