@import url(../template/index.module.css);

.saleComponent {
    display: inline;
    box-sizing: border-box;
    padding: 8px 20px;
    border-radius: 12px;
    background-color: white;
    position: absolute;
    bottom: 24px;
}


.saleBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 20px;
    height: 562px;
}

.saleBlockLeft {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 60% 40%;
    gap: 20px;
}

.saleBlockLeftUp {
    background: var(--gray-white-white);
    background-image: url(../images/sale_L_1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60%;
    border-radius: 12px;
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
}

.saleBlockLeftDown {
    background: var(--yellow);
    background-image: url(../images/sale_L_2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 12px;
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
    span {
        font-weight: 600;
        background: transparent;
    }
}

.saleBlockRight {
    display: grid;
    grid-template-rows: 40% 60%;
    row-gap: 20px;
}

.saleBlockRightUp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.saleBlockRightDown {
    display: block;
    height: 100%;
    width: 100%;
    background: var(--gray-white-white);
    background-image: url(../images/sale_R_D.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 12px;
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
}

.saleBlockRightUpL {
    background: var(--gray-white-white);
    background-image: url(../images/sale_R_U_L.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 12px;
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
}

.saleBlockRightUpR {
    background: var(--gray-white-white);
    background-image: url(../images/sale_R_U_R.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 12px;
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
} 