:root {
	--black: #2b2929;
	--dark: #464646;
	--white: #fff;
	--gray-very-very-white: #f8f8f8;
	--gray-white-white: #efefef;
	--gray-white: #e1e1e1;
	--gray: #bababa;
	--gray-dark: #716969;
	--yellow-dark: #f1bf5d;
	--yellow: #fff0ba;
	--red: #ff4f4f;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.marginSectionHeader {
	margin-bottom: 32px;
}

.formSection {
	border-radius: 12px;
	padding-top: 48px;
	padding-bottom: 48px;
	margin-bottom: 140px;
	background: linear-gradient(244deg, #efefef 0%, #cb9a63 29.17%, #d76598 42.71%, #46527f 56.77%, #1e9190 70.83%, #4a5976 86.46%, #5f3f6b 100%);
}