.cardsPosition {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    column-gap: 20px;
}

.cardsInline {
    display: flex;
    overflow: hidden;
    gap: 20px;
}

@media screen and (max-width: 821px) {
    .cardsPosition {
        display: flex;
        overflow: scroll;
    }
    &::-webkit-scrollbar {
        width: 0;
        height: 4px;
        background: black;
    }

    &::-webkit-scrollbar-track {
        background: var(--gray-white);
    }

    &::-webkit-scrollbar-thumb {
        background: var(--dark);
    }
}