@import url(../mainPage/template/index.module.css);

.mainContent {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.mainMenu {
    margin-left: 48px;
    width: 100%;
}

.mainMenuList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 603px;
    li {
        list-style: none;
        a {
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: var(--gray-dark);
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 391px) {
    .mainMenuList {
        display: none;
    }
}